{{#if sortedAnswers}}
<h6>Sorted by most likes:</h6>
{{#each sortedAnswers as |answer|}}
  <div class="answer-tile">
    <div class="row">
      <div class="col-md-12">
        <h4>{{answer.name}} Answered:</h4>
        <p class="content-box">{{answer.content}}</p>
      </div>
      <div class="answer-popularity">
        <button class="popularity" {{action 'addLike' answer}} type="button">Like</button>
        <p id="likes">{{like-counter answer.likes}}</p>
        <button class="popularity" {{action 'addDislike' answer}} type="button">Dislike</button>
        <p id="dislikes">{{dislike-counter answer.dislikes}}</p>
        <p class="rating">{{highest-rated answer.likes answer.dislikes}}</p>
    </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <h3>No answers have been provided yet.</h3>
  {{/if}}
