<div class="container">
  <div class="question-content">
    <h2>{{model.content}}</h2>
    <h6>Asked by: {{model.name}}</h6>
    {{favorite-button question=model}}
  </div>
  <div>
    <img class="question-image" src="{{model.image}}" alt="" />
  </div>

    <div class="answers">
      <h2>Answers</h2>
      <h6>Sorted by most likes:</h6>
      {{answer-tile addLike2="addLike3" addDislike2="addDislike3" question=model}}
      {{new-answer addNewAnswer2="addNewAnswer3" question=model}}
    </div>
</div>
